@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mixins;

.projects {
  scroll-margin-top: 110px;

  @media (min-width: vars.$breakpoint-md) {
    text-align: center;
  }

  h2 {
    font-family: vars.$font-heading;
    font-size: 1.75rem;
    font-weight: bold;
    color: vars.$color-heading;

    @include mixins.dark-mode {
      color: vars.$color-heading-dark;
    }

    @media (min-width: vars.$breakpoint-md) and (max-width: vars.$breakpoint-lg - 1) {
      font-size: 2rem;
    }

    @media (min-width: vars.$breakpoint-lg) {
      font-size: 2.5rem;
    }
  }
}

.container {
  @include mixins.container;
}

.content {
  display: grid;
  gap: 2rem;
  width: 100%;
}

.list {
  gap: 1rem;
  margin: 0 -1rem;
  padding: 0 1rem;

  @media (max-width: vars.$breakpoint-md - 1) {
    display: grid;
    grid-template-columns: repeat(6, calc(100% / 2.5));
    grid-auto-rows: 1fr;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  @media (min-width: vars.$breakpoint-md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  @media (min-width: 1024px) {
    gap: 2rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.item {
  position: relative;
  display: flex;
  border-radius: 1rem;
  border: 1px solid transparent;
  background: vars.$color-block;
  color: vars.$color-svg;
  aspect-ratio: 3/2;

  @include mixins.dark-mode {
    border-color: vars.$color-border-dark;
    background: vars.$color-block-dark;
    color: vars.$color-svg-dark;
  }

  @media (max-width: vars.$breakpoint-md - 1) {
    scroll-snap-align: center;
  }

  @media (min-width: vars.$breakpoint-md) and (max-width: vars.$breakpoint-lg - 1) {
    width: calc(33.3% - 0.75rem);
  }

  @media (min-width: vars.$breakpoint-lg) {
    width: calc(25% - 1.5rem);
  }

  &:hover {
    z-index: 1;
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &[data-tooltip] {
      @include mixins.toolbar;
    }
  }

  svg {
    width: 100%;
    height: auto;
  }
}

.viewMore {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: -1rem;
  opacity: 0.75;

  @media (min-width: vars.$breakpoint-md) {
    display: none;
  }

  svg {
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: slideSmall;
  }
}


@keyframes slideSmall {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(0.5rem);
  }

  100% {
    transform: translateX(0);
  }
}
