@import '@/styles/variables.scss';

.projects {
  text-align: center;
  scroll-margin-top: 110px;

  h2 {
    font-family: $font-heading;
    font-size: 1.75rem;
    font-weight: bold;
    color: $color-heading;

    @include dark-mode {
      color: $color-heading-dark;
    }

    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg - 1) {
      font-size: 2rem;
    }

    @media (min-width: $breakpoint-lg ) {
      font-size: 2.5rem;
    }
  }
}

.container {
  @include container;
}

.content {
  display: grid;
  gap: 2rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  @media (min-width: 1024px) {
    gap: 2rem;
  }
}

.item {
  position: relative;
  display: flex;
  width: calc(50% - 0.5rem);
  border-radius: 1rem;
  border: 1px solid $color-border;
  background: $color-block;
  color: $color-svg;

  @include dark-mode {
    border-color: $color-border-dark;
    background: $color-block-dark;
    color: $color-svg-dark;
  }

  @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg - 1) {
    width: calc(33.3% - 0.75rem);
  }

  @media (min-width: 1024px) {
    width: calc(25% - 1.5rem);
  }

  &:hover {
    z-index: 1;
  }

  &[data-tooltip] {
    @include toolbar;
  }

  svg {
    width: 100%;
    height: auto;
  }
}
