@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.toggle {
  position: relative;
  margin: 1.1875rem 0;
  display: flex;
  width: 76px;
  cursor: pointer;

  @media (min-width: $breakpoint-xl) {
    margin: 1.5rem 0;
    width: 106px;
  }

  @media (hover: hover) {
    &:hover .dot {
      background: $color-nav-hover;

      @include dark-mode {
        background: $color-nav-hover-dark;
      }
    }
  }

  .dot {
    position: relative;
    display: block;
    height: 40px;
    width: 100%;
    background: $color-nav;
    border-radius: 20px;
    transition: all 0.3s;

    @include dark-mode {
      background: $color-nav-dark;
    }

    @media (min-width: $breakpoint-xl) {
      height: 56px;
      border-radius: 28px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 4px;
      height: 32px;
      width: 32px;
      border-radius: 16px;
      z-index: 1;
      background: $color-sun;
      left: 40px;

      @include dark-mode {
        background: $color-moon;
        left: 4px;

        @media (min-width: $breakpoint-xl) {
          left: 6px;
        }
      }

      @media (min-width: $breakpoint-xl) {
        top: 6px;
        left: 56px;
        height: 44px;
        width: 44px;
        border-radius: 22px;
      }
    }
  }

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    color: #fff;
    z-index: 1;
    left: 46px;

    @include dark-mode {
      transform: translateY(-50%) rotate(0deg);
      left: 10px;

      @media (min-width: $breakpoint-xl) {
        left: 15px;
      }
    }

    @media (min-width: $breakpoint-xl) {
      left: 66px;
      width: 24px;
      height: 24px;
    }
  }

  .sun {
    opacity: 1;

    @include dark-mode {
      opacity: 0;
    }
  }

  .moon {
    opacity: 0;

    @include dark-mode {
      opacity: 1;
    }
  }
}
