@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.logo {
  font-family: $font-heading;
  font-size: 1.25rem;
  font-weight: bold;
  color: #FFF;

  @include dark-mode {
    color: $color-heading-dark;
  }

  @media (min-width: $breakpoint-xl) {
    font-size: 1.5rem;
  }

  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: $color-primary;
    color: #FFF;
    font-size: 1.625rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    margin-right: 0.5rem;

    @media (min-width: $breakpoint-xl) {
      font-size: 1.75rem;
      width: 3rem;
      height: 3rem;
    }
  }
}
