@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mixins;

.logo {
  font-family: vars.$font-heading;
  font-size: 1.25rem;
  font-weight: bold;
  color: #FFF;

  @include mixins.dark-mode {
    color: vars.$color-heading-dark;
  }

  @media (min-width: vars.$breakpoint-xl) {
    font-size: 1.5rem;
  }

  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: vars.$color-primary;
    color: #FFF;
    font-size: 1.625rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    margin-right: 0.5rem;

    @media (min-width: vars.$breakpoint-xl) {
      font-size: 1.75rem;
      width: 3rem;
      height: 3rem;
    }
  }
}
