@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.projects {
  scroll-margin-top: 110px;

  @media (min-width: $breakpoint-md) {
    text-align: center;
  }

  @media (min-width: $breakpoint-xl) {
    scroll-margin-top: 136px;
  }

  h2 {
    @include heading2;

    & {
      color: $color-heading;
    }

    @include dark-mode {
      color: $color-heading-dark;
    }
  }
}

.container {
  @include container;
}

.content {
  display: grid;
  gap: 2rem;
  width: 100%;
}

.list {
  gap: 1rem;
  margin: 0 -1rem;
  padding: 0 1rem;

  @media (max-width: $breakpoint-md - 1) {
    display: grid;
    grid-template-columns: repeat(6, calc(100% / 2.5));
    grid-auto-rows: 1fr;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
  }

  @media (min-width: $breakpoint-md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  @media (min-width: 1024px) {
    gap: 2rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.item {
  position: relative;
  display: flex;
  border-radius: 1rem;
  border: 1px solid transparent;
  background: $color-block;
  color: $color-svg;
  aspect-ratio: 3/2;

  @include dark-mode {
    border-color: $color-border-dark;
    background: $color-block-dark;
    color: $color-svg-dark;
  }

  @media (max-width: $breakpoint-md - 1) {
    scroll-snap-align: center;
  }

  @media (min-width: $breakpoint-md) {
    width: calc(33.3% - 0.75rem);
  }

  @media (min-width: $breakpoint-lg) {
    width: calc(25% - 1.5rem);
  }

  @media (min-width: $breakpoint-xl) {
    width: calc(20% - 1.6rem);
  }

  &:hover {
    z-index: 1;
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &[data-tooltip] {
      @include toolbar;
    }
  }

  svg,
  img {
    width: 100%;
    height: auto;
  }
}

.viewMore {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: -1rem;
  opacity: 0.75;

  @media (min-width: $breakpoint-md) {
    display: none;
  }

  svg {
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: slideSmall;
  }
}


@keyframes slideSmall {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(0.5rem);
  }

  100% {
    transform: translateX(0);
  }
}
