@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mixins;

.header {
  position: sticky;
  top: 0;
  z-index: 10;

  &.home {
    margin-bottom: -78px;

    @media (min-width: vars.$breakpoint-xl) {
      margin-bottom: -104px;
    }
  }


  &.scrolled {
    background: vars.$color-header;
    border-bottom: 1px solid transparent;

    @include mixins.dark-mode {
      background: vars.$color-header-dark;
      border-color: vars.$color-border-dark;
    }

    .particles {
      opacity: 1;
    }
  }

  .logo {
    position: relative;
    margin: 1.1875rem auto 1.1875rem 0;
    transition: transform 0.3s ease;

    @media (min-width: vars.$breakpoint-xl) {
      margin: 1.6875rem auto 1.6875rem 0;
    }

    @media (hover: hover) {
      &:hover {
        transform: scale(1.07);
      }
    }

    &:focus {
      transform: scale(1);
    }
  }
}

.container {
  @include mixins.container;
}

.navigation {
  position: relative;
  display: none;
  align-items: center;
  background: vars.$color-nav;
  border-radius: 23px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: auto;

  @include mixins.dark-mode {
    background: vars.$color-nav-dark;
  }

  @media (min-width: vars.$breakpoint-md) {
    display: flex;
  }

  @media (min-width: vars.$breakpoint-xl) {
    border-radius: 28px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  a {
    display: flex;
    align-items: center;
    border-radius: 23px;
    color: vars.$color-nav-text;
    height: 46px;
    line-height: 1.25rem;
    padding: 0.75rem 1rem;
    margin: 0 0.25rem;
    transition: all 0.3s;

    @include mixins.dark-mode {
      color: vars.$color-nav-text-dark;
    }

    @media (min-width: vars.$breakpoint-lg) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    @media (min-width: vars.$breakpoint-xl) {
      border-radius: 28px;
      height: 56px;
      font-size: 1.125rem;
      padding: 1rem 2rem;
    }

    @media (hover: hover) {
      &:hover {
        background: vars.$color-nav-hover;
        color: vars.$color-nav-hover-text;
        transform: scale(1.05);

        @include mixins.dark-mode {
          background: vars.$color-nav-hover-dark;
          color: vars.$color-nav-hover-text-dark;
        }
      }
    }

    &:focus {
      transform: scale(1);
    }

    &:nth-child(1) {
      margin-left: 0;

      @media (max-width: vars.$breakpoint-lg - 1) {
        display: none;
      }
    }

    &:nth-child(2) {
      @media (max-width: vars.$breakpoint-lg - 1) {
        margin-left: 0;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.particles {
  opacity: 0;
  transition: all 0.3s;
}
