@use './normalize' as *;
@use './variables' as vars;
@use './mixins' as mixins;

html {
  overflow-y: scroll;
}

body {
  background: vars.$color-bg;
  color: vars.$color-text;
  font-family: vars.$font-body;

  @include mixins.dark-mode {
    background: vars.$color-bg-dark;
    color: vars.$color-text-dark;
  }
}
