@use './normalize' as *;

html {
  overflow-y: scroll;
}

body {
  background: $color-bg;
  color: $color-text;
  font-family: $font-body;

  @include dark-mode {
    background: $color-bg-dark;
    color: $color-text-dark;
  }
}
