@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mixins;

.social {
  display: flex;
  gap: 2rem;

  @media (min-width: vars.$breakpoint-md) {
    gap: 1.5rem;
  }

  a {
    background: vars.$color-primary;
    color: #fff;
    padding: 0.75rem;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    transition: all .3s ease;

    @media (min-width: vars.$breakpoint-md) {
      padding: 0.5rem;
    }

    &:hover {
      transform: scale(1.1);
    }

    &.linkedin {
      background: #0077b5;
    }

    &.instagram {
      background: #d62976;
    }

    &.github {
      background: vars.$color-svg;
      color: vars.$color-svg-dark;

      @include mixins.dark-mode {
        background: vars.$color-svg-dark;
        color: vars.$color-svg;
      }
    }
  }

  svg {
    width: 28px;
    height: auto;

    @media (min-width: vars.$breakpoint-md) {
      width: 24px;
    }
  }
}
