@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $color-heading;
  padding: 0.5rem 1rem;
  height: 46px;
  font-weight: 500;
  border-radius: 0.5em;
  border: 1px solid transparent;
  transition: all .3s ease;
  white-space: nowrap;

  @include dark-mode {
    color: $color-heading-dark;
  }

  @media (hover: hover) {
    &:hover {
      transform: scale(1.05);
    }
  }

  @media (min-width: $breakpoint-xl) {
    font-size: 1.125rem;
    padding: 0.75rem 2rem;
    height: 56px;
  }

  &:disabled {
    background: #ccc;
    color: #666;

    @media (hover: hover) {
      &:hover {
        background: #ccc;
        color: #666;
        transform: scale(1);
      }
    }
  }
}

.icon {
  padding: 0.5rem 0.75rem;
}

.large {
  font-size: 1.125rem;
  padding: 0.75rem 2rem;
  height: 56px;

  @media (min-width: $breakpoint-xl) {
    font-size: 1.25rem;
    padding: 1rem 2.5rem;
    height: 66px;
  }
}

.default {
  background: $color-default;
  color: $color-default-text;
  border-color: transparent;

  @include dark-mode {
    background: $color-default-dark;
    color: $color-default-text-dark;
  }

  @media (hover: hover) {
    &:hover {
      background: $color-default-hover;

      @include dark-mode {
        background: $color-default-hover-dark;
      }
    }
  }
}

.primary {
  background: $color-primary;
  color: $color-primary-text;
  border-color: transparent;

  @media (hover: hover) {
    &:hover {
      background: $color-primary-hover;
    }
  }
}

.link {
  background: transparent;
  color: $color-heading;
  border-color: transparent;
  padding: 0.5rem 1rem;

  @include dark-mode {
    color: $color-heading-dark;
  }

  &.large {
    padding: 0.75rem 1rem;
  }

  @media (hover: hover) {
    &:hover {
      text-decoration: underline;
    }
  }

  :global(#banner) & {
    @include light-mode {
      color: #FFF;
    }
  }
}

.right {
  margin-left: auto;
}
