.social {
  display: flex;
  gap: 1.5rem;

  a {
    background: $color-primary;
    color: #fff;
    padding: 0.5rem;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    transition: all .3s ease;

    @media (hover: hover) {
      &:hover {
        transform: scale(1.1);
      }
    }

    &:focus {
      transform: scale(1);
    }

    @media (min-width: $breakpoint-xl) {
      padding: 1rem;
    }

    &.linkedin {
      background: #0077b5;

      :global(#banner) & {
        @include light-mode {
          background: #FFF;
          color: #0077b5;
        }
      }
    }

    &.instagram {
      background: #d62976;
    }

    &.github {
      background: $color-svg;
      color: $color-svg-dark;

      @include dark-mode {
        background: $color-svg-dark;
        color: $color-svg;
      }
    }
  }

  svg {
    width: 24px;
    height: auto;

    @media (min-width: $breakpoint-xl) {
      width: 30px;
    }
  }
}
