@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.stack {
  text-align: center;
  scroll-margin-top: 110px;

  @media (min-width: $breakpoint-xl) {
    scroll-margin-top: 136px;
  }
}

.container {
  @include container;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;

  h2 {
    @include heading2;

    & {
      color: $color-heading;
    }

    @include dark-mode {
      color: $color-heading-dark;
    }
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;

  @media (min-width: $breakpoint-md) {
    justify-content: center;
  }

  @media (min-width: $breakpoint-xl) {
    gap: 3rem;
  }
}

.item {
  position: relative;
  width: 40px;
  color: $color-heading;

  @include dark-mode {
    color: $color-heading-dark;
  }

  @media (min-width: $breakpoint-md) {
    width: 60px;
  }

  @media (min-width: $breakpoint-xl) {
    width: 80px;
  }

  &:before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  &:hover {
    z-index: 1;
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &[data-tooltip] {
      @include toolbar;

      &:hover::after {
        margin-top: 1rem;
      }

      &:hover::before {
        top: auto;
        bottom: -1rem;
      }
    }
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 100%;
    width: 100%;
  }
}
