@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mixins;

.section {
  display: block;
  text-align: left;
  scroll-margin-top: 110px;

  @media (min-width: vars.$breakpoint-md) {
    text-align: left;
  }
}

.container {
  @include mixins.container;
}

.content {
  display: grid;
  gap: 1.5rem;

  @media (min-width: vars.$breakpoint-md) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: vars.$breakpoint-md) and (max-width: vars.$breakpoint-lg - 1)  {
    gap: 2rem;
  }

  @media (min-width: 1024px) {
    gap: 5rem;
  }
}

.image {

  &.animate img {
    opacity: 0;

    @media (max-width: vars.$breakpoint-md - 1) {
      transform: translateY(100px);
    }
  }

  &.transition img {
    
    @media (max-width: vars.$breakpoint-md - 1) {
      transition: opacity 0.6s ease, transform 0.6s ease;
    }

    @media (min-width: vars.$breakpoint-md) {
      animation-duration: 1s;
    }
  }

  &.show img {
    opacity: 1;

    @media (max-width: vars.$breakpoint-md - 1) {
      transform: translateY(0);
    }

    @media (min-width: vars.$breakpoint-md) {
      animation-fill-mode: forwards;
      animation-name: slideRight;
    }
  }

  .imageWrap {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 240px;

    @media (min-width: vars.$breakpoint-md) {
      justify-content: center;
      max-width: 100%;
    }
  }

  img {
    border-radius: 1rem;
  }
}

.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;

  @media (min-width: vars.$breakpoint-md) {
    gap: 1rem;
  }

  &.animate {
    opacity: 0;

    @media (max-width: vars.$breakpoint-md - 1) {
      transform: translateY(100px);
    }

    @media (min-width: vars.$breakpoint-md) {
      transform: translateY(50px);
    }
  }

  &.transition {
    
    @media (max-width: vars.$breakpoint-md - 1) {
      transition: opacity 0.6s ease, transform 0.6s ease;
    }

    @media (min-width: vars.$breakpoint-md) {
      transition: .3s ease-out;
    }
  }

  &.show {
    opacity: 1;
    transform: translateY(0);
  }

  h2 {
    font-family: vars.$font-heading;
    font-size: 1.25rem;
    font-weight: 700;
    color: vars.$color-primary;

    @media (min-width: vars.$breakpoint-md) and (max-width: vars.$breakpoint-lg - 1) {
      font-size: 1.375rem;
    }

    @media (min-width: 1024px) {
      font-size: 1.5rem;
    }
  }

  h3 {
    font-family: vars.$font-heading;
    font-size: 1.75rem;
    font-weight: 700;
    color: vars.$color-heading;

    @include mixins.dark-mode {
      color: vars.$color-heading-dark;
    }

    @media (min-width: vars.$breakpoint-md) and (max-width: vars.$breakpoint-lg - 1) {
      font-size: 2rem;
    }

    @media (min-width: 1024px) {
      font-size: 2.5rem;
    }
  }

  p {
    @media (min-width: vars.$breakpoint-md) {
      font-size: 1.125rem;
    } 
  }

  .buttons {
    justify-content: flex-start;
    margin-top: 0.5rem;

    @media (min-width: vars.$breakpoint-md) {
      justify-content: flex-start;
      margin-top: 0;
    }
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
