@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mixins;

.footer {
  padding: 2rem 0;

  &.animate {
    opacity: 0;
  }

  &.show {
    opacity: 1;
    transition: opacity 0.6s ease;
  }

  .logo {
    color: vars.$color-heading;
  }

  p {
    font-size: 0.875rem;
  }
}

.container {
  @include mixins.container;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.social {

  @media (max-width: vars.$breakpoint-md - 1) {
    gap: 2rem;
  }

  a {

    @media (min-width: vars.$breakpoint-md - 1) {
      padding: 0.75rem;
    }
  }

  svg {

    @media (max-width: vars.$breakpoint-md - 1) {
      width: 28px;
    }
  }
}