@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.section {
  display: block;
  text-align: left;
  scroll-margin-top: 110px;

  @media (min-width: $breakpoint-md) {
    text-align: left;
  }

  @media (min-width: $breakpoint-xl) {
    scroll-margin-top: 136px;
  }
}

.container {
  @include container;
}

.content {
  display: grid;
  gap: 1.5rem;

  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: $breakpoint-md) {
    gap: 2rem;
  }

  @media (min-width: 1024px) {
    gap: 5rem;
  }
}

.image {
  .imageWrap {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 240px;

    @media (min-width: $breakpoint-md) {
      justify-content: center;
      max-width: 100%;
    }
  }

  img {
    border-radius: 1rem;

    @media (min-width: $breakpoint-xl) {
      width: 640px;
    }
  }
}

.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;

  @media (min-width: $breakpoint-md) {
    gap: 1rem;
  }

  h2 {
    @include heading2;

    & {
      color: $color-heading;
    }

    @include dark-mode {
      color: $color-heading-dark;
    }
  }

  h3 {
    @include heading3;

    & {
      color: $color-primary;
    }
  }

  p {
    @include paragraph;
  }

  .buttons {
    justify-content: flex-start;
    margin-top: 0.5rem;

    @media (min-width: $breakpoint-md) {
      justify-content: flex-start;
      margin-top: 0;
    }
  }
}
